.footer-div-wrapper {
    margin-top: 10vh;
    transition: .3s linear;
    position: relative;
}

.footer-div-wrapper h4 {
    font-family: Oswald;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2em;
    padding: 20px;


}



.footer-div-wrapper span {
    margin: 20px;
}

.footer-div-wrapper img {
    width: 4em;
    height: 4em;
}

.footer-span-usa img {
    transform: translateY(30%);
}

.footer-span-poland img {
    transform: translateY(30%);
}

.footer-span-transfer img {
    width: 2em;
    height: 2em;
    transform: rotate(45deg)translate(-50%, -50%)
}


.footer-p-description,
.footer-p-description2 {
    font-family: Oswald;
    font-size: .9em;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    margin: 4em auto;
}



.footer-a-maps { 
    display: block; 
    text-decoration: none; 
    padding: 5px ;
    color : rgb(48, 46, 45);
    border: 1px solid rgb(48, 46, 45);
    position: relative;
    overflow: hidden;
    z-index: 1; 
    width: 200px; 
    height: 100%;
    left: 50%; 
    transform: translateX(-50%); 
    border-radius: 20px; 
    margin: 5px 0 ; 
    font-weight: bold; 
}


.footer-a-maps::after { 
    content: ''; 
    position: absolute;
    top: 0 ; 
    right: -100% ; 
    width: 100%; 
    height: 100%;
    background-color : hsla(206, 100%, 50%, .3);
    transition: .3s ease-out;
    z-index: -1;  }

    .footer-a-maps::before { 
    content: ''; 
    position: absolute;
    top: 0 ; 
    left: -100% ; 
    width: 100%; 
    height: 100%;
  background-color:  hsla(206, 100%, 50%, .7);
    transition: .3s ease-out;
    z-index: -1;  }

    .footer-a-maps:hover::after { 
  transform: translateX(-100%)
}
.footer-a-maps:hover::before { 
  transform: translateX(100%)
}






@media (orientation:Portrait) and (min-width:768px) {

    .footer-p-description,
    .footer-p-description2 {
        width: 60%;
    }

}

@media (orientation:landscape) and (min-width:700px) {

    .footer-p-description,
    .footer-p-description2 {
        width: 60%;
    }

}

@media (orientation:landscape) and (min-width:1024px) {

    .footer-div-wrapper {
        transform: scale(1);
    }


}



@media (orientation:landscape) and (min-width:1600px) {

    .footer-p-description,
    .footer-p-description2 {
        width: 50%;
    }
}