*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.offers-section {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: reload .5s ease-out;
          animation: reload .5s ease-out;
}

@media (min-width: 1024px) {
  .offers-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2;
        grid-template-rows: 2;
    -ms-grid-columns: 3;
        grid-template-columns: 3;
    grid-gap: 50px 0;
  }
}

.offers-section h3.offers-h3 {
  margin-bottom: 5vh;
  font-family: "Fresca", Arial, Helvetica, sans-serif;
}

@media (min-width: 1024px) {
  .offers-section h3.offers-h3 {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
}

.offers-section h3.offers-h3 a {
  display: block;
  text-decoration: none;
  padding: 5px;
  color: whitesmoke;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 20%;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 20px;
  margin: 5px 0;
}

.offers-section h3.offers-h3 a::after {
  content: '';
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 145, 255, 0.3);
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  z-index: -1;
}

.offers-section h3.offers-h3 a::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 145, 255, 0.7);
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  z-index: -1;
}

.offers-section h3.offers-h3 a:hover::after {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.offers-section h3.offers-h3 a:hover::before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.offers-section .offers__section__div {
  -webkit-transition: .3s linear;
  transition: .3s linear;
  padding: 1em;
  height: 100%;
  opacity: 1;
  position: relative;
}

@media (min-width: 1024px) {
  .offers-section .offers__section__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.offers-section .offers__section__div h4 {
  font-family: "Fresca";
  margin: 5px;
  font-size: 1.3em;
}

.offers-section .offers__section__div img {
  width: 30vw;
  height: 20vw;
  border-radius: 20px;
}

@media (min-width: 1024px) {
  .offers-section .offers__section__div img {
    width: 15vw;
    height: 10vw;
  }
}

.offers-section .offers__section__div p {
  margin: 1em auto 2em auto;
  text-align: center;
  letter-spacing: 1px;
  max-width: 50%;
}

@media (min-width: 1024px) {
  .offers-section .offers__section__div p {
    margin-bottom: 4em;
  }
}

.offers-section .offers__section__div a {
  text-decoration: none;
  font-size: 1em;
  color: white;
  background-color: rgba(0, 94, 255, 0.612);
  padding: .5em .7em;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px 1px white;
          box-shadow: 0 0 10px 1px white;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  font-family: "Fresca";
  font-weight: bold;
}

@media (min-width: 1024px) {
  .offers-section .offers__section__div a {
    position: absolute;
    bottom: 1px;
  }
}

.offers-section .offers__section__div a:hover {
  -webkit-box-shadow: 0 0 10px 1px black;
          box-shadow: 0 0 10px 1px black;
  color: black;
}

@-webkit-keyframes reload {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes reload {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=Offers.css.map */