*, *::after , *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$padding-a : .5em;
$color-a : greenyellow;
$desktop : 1024px;
$desktopFullHd:1480px;

@mixin desktop {
    @media(min-width:#{$desktop}) {
        @content
    }
}

;

@mixin desktopPlus {
    @media(min-width:#{$desktopFullHd}) {
        @content
    }
}


$margins: (section-margin-top:5vh,
    h3-margin : 5vh,
    btn-margin : 2vh,
    ul-center : auto, );


@function getMargin($margin-type) {
    @return map-get($margins, $margin-type)
}

;

$fonts:(standard: arial,
    lobster :"Lobster,cursive",
    fresca: "Fresca",
);

@function getFont($font-type) {
    @return map-get($fonts, $font-type)
}

.offers-section {
    margin-top: getMargin(section-margin-top);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: reload .5s ease-out ; 

    @include desktop {
        display: grid;
        grid-template-rows: 2;
        grid-template-columns: 3;
        grid-gap: 50px 0 ;
    }


    h3.offers-h3 {
        margin-bottom: getMargin(h3-margin);
        font-family: getFont(fresca), Arial, Helvetica, sans-serif;
        font-size : .8em; 
       

        @include desktop {
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 1;
            grid-column-end: 4;
        }


        a{ 
            display: block; 
            text-decoration: none; 
            padding: 5px ;
            font-size: 1em;
            color :rgb(245, 245, 245);
            position: relative;
            overflow: hidden;
            z-index: 1; 
            width: 20%; 
            height: 100%;
            left: 50%; 
            transform: translateX(-50%); 
            border-radius: 20px; 
            margin: 5px 0 ; 
            
        }

        a::after { 
            content: ''; 
            position: absolute;
            top: 0 ; 
            right: -100% ; 
            width: 100%; 
            height: 100%;
            background-color : hsla(206, 100%, 50%, .3);
            transition: .3s ease-out;
            z-index: -1;  }

        a::before { 
            content: ''; 
            position: absolute;
            top: 0 ; 
            left: -100% ; 
            width: 100%; 
            height: 100%;
          background-color:  hsla(206, 100%, 50%, .7);
            transition: .3s ease-out;
            z-index: -1;  }

        a:hover::after { 
          transform: translateX(-100%)
        }
        a:hover::before { 
          transform: translateX(100%)
        }

    }


    .offers__section__div {
        transition: .3s linear;
        padding: 1em;
        height: 100%;
        opacity: 1;
        position: relative;

        @include desktop {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

        }



        h4 {
            font-family: getFont(fresca);
            margin: 5px;
            font-size: 1em;
        }

        img {
            width: 30vw;
            height: 20vw;
            border-radius: 20px;

            @include desktop {
                width: 15vw;
                height: 10vw;
            }
        }

        p {
            margin: 1em auto 2em auto;
            text-align: center;
            letter-spacing: 1px;
            max-width: 50%;
            font-size: .6em;

            @include desktop {
                margin-bottom: 4em;
            }

        }

        a {
            text-decoration: none;
            font-size: .6em;
            color: white;
            background-color: rgba(0, 94, 255, 0.612);
            padding: .5em .7em;
            border-radius: 20px;
            box-shadow: 0 0 10px 1px white;
            transition: all .3s linear;
            font-family: getFont(fresca);
            font-weight: bold;

            @include desktop {
                position: absolute;
                bottom: 1px;
            }



        }

        a:hover {
            box-shadow: 0 0 10px 1px black;
            color: black;
        }
    }


}



@keyframes reload { 
    0% { 
      opacity: 0 ; 
  
    }
  
    100% { 
      opacity: 1; 
    }
  }